@model MeuProjetoMVC.Models.Imc

<h1>Cálculo de IMC</h1>

<form asp-action="Calcular" method="post">

    <div>
        <label asp-for="Peso"></label>
        <input asp-for="Peso" />
        <span asp-validation-for="Peso"></span>
    </div>

    <div>
        <label asp-for="Altura"></label>
        <input asp-for="Altura" />
        <span asp-validation-for="Altura"></span>
    </div>

    <br />

    <button type="submit">
        Calcular IMC
    </button>

</form>