@{
    List<string> disciplinas = ViewBag.Disciplinas;
    List<double> notas = ViewBag.Notas;

    double soma = 0;
}

<h1>Boletim de Notas</h1>

<table border="1">
    <tr>
        <th>Disciplina</th>
        <th>Nota</th>
        <th>Status</th>
        <th>Conceito</th>
    </tr>

    @for (int i = 0; i < disciplinas.Count; i++)
    {
        soma += notas[i];

        <tr>
            <td>@disciplinas[i]</td>
            <td>@notas[i]</td>

            <td>
                @if (notas[i] >= 7)
                {
                    <span style="color:green">Aprovado</span>
                }
                else
                {
                    <span style="color:red">Reprovado</span>
                }
            </td>

            <td>
                @{
                    string conceito = "";

                    switch ((int)notas[i])
                    {
                        case >= 9:
                            conceito = "A";
                            break;

                        case >= 7:
                            conceito = "B";
                            break;

                        case >= 5:
                            conceito = "C";
                            break;

                        default:
                            conceito = "D";
                            break;
                    }
                }

                @conceito
            </td>
        </tr>
    }
</table>

<h3>Média Geral: @(soma / notas.Count)</h3>